<!DOCTYPE html>
<html lang="pt-br">
	<head>
	 	<meta charset="UTF-8">
	 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Create! | Login</title>
		<link rel="stylesheet" th:href="@{/CSS/main.css}">
	</head>
	
	<body>
		<form>
			<h1>Entrar em uma conta</h1>
			
			<input class="camposForm" type="email" required placeholder="Email"><br>
			<input class="camposForm" type="password" required placeholder="Senha"><br>
			
			<input type="button" value="Entrar" id="enviar">
		</form>
		
		<aside>
			<img id="logo" th:src="@{/Imagens/Logo.png}" alt="Logo">
			<h2>Ainda não possui uma conta?</h2>
			<p>O Create! é a maior plataforma de cadastro online do Brasil.</p>
			<p>Você vai ficar de fora?</p>
			<p id="bCad"><a href="#">Cadastre-se</a></p>
		</aside>
	</body>
</html>