<!DOCTYPE html>
<html lang="pt-br">
	<head>
	 	<meta charset="UTF-8">
	 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Create! | Login</title>
		<link rel="stylesheet" th:href="@{/CSS/main.css}">
		<link rel="stylesheet" th:href="@{/CSS/sucesso.css}">
	</head>
	
	<body>
		<header><img id="logo" th:src="@{/Imagens/Logo.png}" alt="Logo"></header>
		
		<form>
			<h1>Sua conta foi criada com sucesso!</h1>
			<p id="bSucesso"><a th:href="@{/index}">Entrar</a></p>
		</form>
		
		<aside>
			<img id="logo" th:src="@{/Imagens/Logo.png}" alt="Logo">
			<h2 id="h2Monitor">Bem vindo ao Create!</h2>
			<p class="asidePar">Crie uma conta na nossa plataforma para aproveitar todos os nossos serviços.</p><br>
			<p id="h2Celular">Ja possui uma conta?</p>
			<p id="bCad"><a th:href="@{/index}">Entrar</a></p>
		</aside>
	</body>
</html>